@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body{
 font-family: 'Lato', sans-serif;
}


.fondo-naranja{
     background: #f3a309;
     }

.bg-seccion-1{
	background: #f3a309;
	color: #ffffff;
}

.boton-eve{
	-webkit-transform: translateY(0) scale(1);
     opacity: 1;transform: translateY(0) scale(1);
     opacity: 1;
     -webkit-transition: all 0.35s ease 0s,
     -webkit-transform 1s
     cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s
     cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s
     cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s
     cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s;
     margin: 20px;
     font-weight: bold;
     color: #58595b;
}
.img-responsive{
     width: 100%;
}

.img-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.sinmargen{
  margin: 0;
  padding: 0;
}

.nav-estilos{
	font-weight: bold;
}

.nav-estilos a{
	color: #ffffff;
}
.fondo-gris{
     background: gray;
     }
.bg-seccion-2{
	background: gray;
	color: white;
}

.glyphicon-ok,
.glyphicon-headphones,
.glyphicon-send,
.glyphicon-heart{
  color: #f3a309;
  font-size: 50px;
}


.contenedores-servicios{
  padding: 50px;
}
